extends  ../layout

block content
	div#signin-wrapper
		form(method="post")
			div#username-wrapper
				span 用户名
				input(name="username" type="text")
			div#password-wrapper
				span 密码
				input(name="password" type="password")
			br
			div#signin-btns
				input.signin-btn(type="submit" value="登录")
		a(href='/')
			button.back-btn 返回首页