extends ../layout

block content
  form.formSubmit#volunteer-application.application(name='volunteerApplication' method='post')
    h1 注册
    fieldset
      legend 个人信息
      //
        #photo-area
          #photo
            img(src='', alt='')
            #upload 上传照片
          .note 支持bmp/jpg/jpeg/png格式，1M以内。
      .field
        label
          span.field-name *用户名：
          input#username(type='text', name='username', maxlength='20', datatype='s1-20')
      .field
          span.field-name *邮箱：
          input#email(type='text', name='email')
      .field
          span.field-name *密码：
          input#signup-password(type='password', name='password')
      .field
          span.field-name 重复密码：
          input#signup-password-repeat(type='password', name='password-repeat')
      .field
          span.field-name 性别：
          label
          input(type='radio', name='gender', value='male', checked='')
          | 男
          label
          input(type='radio', name='gender', value='female')
          | 女
        //
        .field
          span.field-name 出生年月：
          input(type='text', name='birthday' placeholder='格式为XX-XX-XX')
        .field
            span.field-name 昵称：
            input(type='text', name='nickname')
        .field
            span.field-name 职业：
            input(type='text', name='job')
        .field
            span.field-name 电话：
            input#phone(type='text', name='phone')
        .field
            span.field-name QQ：
            input(type='text', name='QQ')
        .field
            span.field-name 微博：
            input(type='text', name='weibo')
      .field
        //
          span.field-name 关于自己：
          textarea(type='text', name='about',style="resize:none;")
          div#extra-info(style="margin-left:80px;font-size:13px;color:red;")
            注: *项为必填项

    .operation
      button#submit(type='submit').btn.btn-large.btn-primary 提交
