extends  ../layout

block content
  #annually-reports.finance
    .finance-sidebar
      ol#years
        - each year in years
          li=year
    #main-content
      h3 年度报表
      #container
        ul#records
          each item in annual
            img(src=item alt = "年报告")
          #no-info 对不起，该年数据仍未公布。
    .clear
