extends  ../layout

block content
  #finance
    p
      | 点点公益青少年发展服务中心开展了“爱与梦飞翔”之邀请外来务工子女参观体验大学活动。活动得到北京师范大学珠海分校和中山大学珠海校区的大力支持，孩子们也度过了一个充实的周末——收获了笑声，更得到许多课外知识。
    .container
      .item
        a.title(href='/finance/donations') 捐款明细
        span.intro 个人或企业的善款公示
      .item
        a.title(href='/finance/projects-expenses') 项目开支
        span.intro 每个项目支出的财务公示
    .container
      .item
        a.title(href='/finance/monthly-reports') 每月报表
        span.intro 每个月的财务报表
      .item
        a.title(href='/finance/annually-reports') 年度报表
        span.intro
          | 每年的财务报表
          br
          | 与各年财务状况比较
