extends  ../layout

block content
  #finance
    p 点点公益青少年发展服务中心自成立以来，在所有爱心人士及义工的支持下，每年筹集数十万元开展公益服务活动。
    p 机构财务秉承及时性、公开性、透明性的原则，力求在社会各界的关注与监督中不断完善。

    .container
      .item
        a.title(href='/finance/donations', style="background-color: #CCCCFF") 捐款明细
        span.intro 个人或企业的善款公示
      .item
        a.title(href='/finance/projects-expenses', style="background-color: #FFFF99") 项目开支
        span.intro 每个项目支出的财务公示
    .container
      .item
        a.title(href='/finance/monthly-reports', style="background-color: #CCFFCC") 季度报表
        span.intro 每个季度的财务报表
      .item
        a.title(href='/finance/annually-reports',style="background-color: rgba(234, 179, 240, 1)") 年度报表
        span.intro
          | 每年的财务报表
          br
          | 与各年财务状况比较
