extends  ../layout

block content
  #finance
    p 自1010年以来,点点公益收到社会各界爱心认识的支持. 
    p="在祖国内地义务教育阶段, 高中阶段(含普通高中, 职业高中和中专, 中技学校的学生), 高等教育阶段(含普通高校本科生, 专科生和高等职业技术学院的学生), 在祖国内地学习的香港, 澳门, 台湾地区的家庭困难的各类学生, 需向中国教育发展基金会提交书面资助申请,并填写<中国教育发展基金会资助计划申请表一>, <中国教育基金会资助计划申请表二>和<本人申请书>,一并邮寄到中国教育教育发展基金会."

    .container
      .item
        a.title(href='/finance/donations', style="background-color: #CCCCFF") 捐款明细
        span.intro 个人或企业的善款公示
      .item
        a.title(href='/finance/projects-expenses', style="background-color: #FFFF99") 项目开支
        span.intro 每个项目支出的财务公示
    .container
      .item
        a.title(href='/finance/monthly-reports', style="background-color: #CCFFCC") 每月报表
        span.intro 每个月的财务报表
      .item
        a.title(href='/finance/annually-reports',style="background-color: #CCCCFF") 年度报表
        span.intro
          | 每年的财务报表
          br
          | 与各年财务状况比较
