extends  ../layout

block content
  #monthly-reports.finance
    .finance-sidebar
      h3 请选择年份
      #year
        select
          - each year in years
            option(value=year)=year
      ol#months
        - for (var m = 1; m < 5; m++)  
          li= '第' + m + '季度'
    #main-content
      h3 季度收支报表
      #container
        ul#records
          each item in quarter
            img(src=item  alt = "季度报告")
          #no-info 对不起，本季度数据仍未公布。
    .clear