extends  ../layout

block content
  #projects-expenses.finance
    include sidebar
    #main-content
      h3 项目开支
      #container
        ul#records
          each item in month
            img(src=item alt = "月报告")
          #no-info 对不起，本月数据仍未公布。
    .clear