extends ../../layout

block content	
	ul#shareList
		each share_item in share
			li
				h3
				a.generalA(href='/volunteer/' + share_item._id)=share_item.headline
				p=share_item.date + "  from  " + share_item.author
