#account
 a(href="/profile")  #{user.username}
 a#goIndex(href='/') 返回网站首页
 a(href="/logout") 退出

#backgroundHeader
 .headline
  h1 点点公益青少年服务发展中心
  h4 Diandian Youth Development Service Center
  h2 网站后台管理系统
