div#backgroundNav
  ul.nav.nav-tabs
    li
      a.hrefTracer(href='/background/donations') 捐赠明细
    li
      a.hrefTracer(href='/background/dynamics') 新闻动态
    li
      a.hrefTracer(href='/background/news')  图片新闻
    li
      a.hrefTracer(href='/background/foreshows')  活动预告
    li
      a.hrefTracer(href='/background/albums') 点点相册
    li
      a.hrefTracer(href='/background/finances') 财务报表
    li
      a.hrefTracer(href='/background/shares') 分享交流
    li
      a.hrefTracer(href='/background/volunteers_apply') 志愿者申请
    li
      a.hrefTracer(href='/background/funds_apply') 资助申请表
    li
      a.hrefTracer(href='/background/banners') 横幅管理
    li
      a.hrefTracer(href='/background/accounts') 账户管理
  .clear