#account-info
        - if (user && user.role == 'admin')
              a(href="/background") 后台管理
              a(href="#") #{user.username}
              a(href="/logout") 退出
        - if (user && user.role == 'user')
              a(href="#") #{user.username}
              a(href="/logout") 退出
        - if (!user)
              a(href="/signin") 登陆
              a(href="/signup") 注册


#header
  #headline
    h1 点点公益青少年服务发展中心
    h4 Diandian Youth Development Service Center
    h4 汇聚点点力量，实现圆梦助学使命！
    a#cover(href="/")
