ul#navigator
  li
    a.hrefTracer(href='/') 首页
  li
    a.hrefTracer.invalid(href='/news' onclick='return false' style='cursor: default') 点点活动
    ul
      li
        a.hrefTracer(href='/news') 最新动态
      li
        a.hrefTracer(href='/news/activity') 活动预告
  li
    a.hrefTracer(href='/donate') 爱心捐助
  li
    a.hrefTracer(href='/aiding') 申请资助
  li
    a.hrefTracer(href='/finance') 财务公开
  li
    a.hrefTracer.invalid(href='/volunteer' onclick='return false', style='cursor: default') 志愿团队
    ul
      li
        a.hrefTracer(href='/volunteer/share') 分享交流
      li
        a.hrefTracer(href='/volunteer/join-us') 加入团队
  li#lastLi
    a.hrefTracer(href='/about') 关于我们
    ul
      li
        a.hrefTracer(href='/about#introduction') 机构简介
      li
        a.hrefTracer(href='/about#project') 项目介绍
      li
        a.hrefTracer(href='/about#structure') 组织架构
      li
        a.hrefTracer(href='/about#contacts') 联系我们
.clear
