.bdsharebuttonbox
  span 分享到
  a.bds_qzone(title='分享到QQ空间', href='#', data-cmd='qzone')
  a.bds_tsina(title='分享到新浪微博', href='#', data-cmd='tsina')
  a.bds_tqq(title='分享到腾讯微博', href='#', data-cmd='tqq')
