#profile-nickname {
	float: right;
	margin-top: -160px;
}

#profile-job {
	float: right;
	margin-top: -120px;
}

#profile-phone {
	float: right;
	margin-top: -80px;
}

#profile-QQ {
	float: right;
	margin-top: -40px;
}

#profile-weibo {
	float: right;
}

#profile-submit {
	margin-right: 20px;
}

#modify-user-confirm {
	padding: 10px;
}

#modify-user-confirm button {
	margin-left: 10px;
}