#about-nav,
#backgroundNav {
  float: left;
  width: 144px;
  margin-right: 30px;
}
#about-nav li,
#backgroundNav li {
  background-color: #D1DE30;
  width: 142px;
  font-size: 21px;
}
#about-nav li:hover,
#backgroundNav li:hover {
  margin: 2px;
}
#about-nav li:hover a,
#backgroundNav li:hover a {
  color: white;
  background-color: orange;
}
#about-nav li.active a,
#backgroundNav li.active a {
  color: white;
  background-color: orange;
}
#about-content {
  float: right;
  width: 730px;
  min-height: 500px;
  font-size: 15px;
}
#about-content img {
  max-width: 100%;
}
#about-content #project {
  position: relative;
  height: 690px;
  padding: 0;
  margin: 0;
  text-align: center;
}
#about-content #project .project:focus {
  outline: none;
}
#about-content #project .project:hover {
  color: #4E4E4E;
}
#about-content a.project {
  display: inline-block;
  height: 266px;
  width: 266px;
  position: absolute;
  font-size: 30px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#about-content a.project:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#about-content a.project p {
  vertical-align: middle;
  margin-top: 280px;
  line-height: 30px;
  font-size: 19px;
}
#about-content #project_1 {
  background-image: url("../images/about/project_djzx.png");
  left: 234px;
  top: 0px;
}
#about-content #project_3 {
  background-image: url("../images/about/project_bypb.png");
  right: 40px;
  top: 295px;
}
#about-content #project_2 {
  background-image: url("../images/about/project_dzlhz.png");
  left: 40px;
  top: 295px;
}
#contacts,
#introduction {
  padding: 60px;
  background-color: #ffffff;
}
#contacts p,
#introduction p {
  margin-bottom: 20px;
}
#contacts p:first-child::first-line,
#contacts p:first-child + p::first-line,
#contacts p:first-child + p + p::first-line {
  font-size: 17px;
}
#contacts p:first-child + p + p {
  margin-bottom: 40px;
}
#about-content #structure img {
  width: 100%;
}
p.projectP {
  text-indent: 30px;
}
h2.projectH2 {
  background: none;
  font-size: 21pt;
  color: #d1de30;
  padding-bottom: 20px;
}
h3.projectH3 {
  color: #989888;
  background: none;
  text-align: left;
  margin-bottom: 20px;
}

#search-users {
  margin-left: 604px;
}
#search-users input {
  margin-right: 20px;
}
#search-users button {
  margin-bottom: 10px;
  width: 97px;
}
#add-admin {
  margin-bottom: 20px;
  margin-left: 670px;
}
#account-viewer h3 {
  margin-bottom: -25px;
}
#account-admin {
  margin-bottom: 100px;
}
#account-user {
  margin-bottom: 100px;
}
#account-admin hr {
  border: 1px solid #C4C400;
  width: 562px;
  margin-top: -37px;
  margin-left: 271px;
}
#account-user hr {
  border: 1px solid #C4C400;
  width: 559px;
  margin-top: 14px;
  margin-left: 275px;
}
#account-viewer a:hover {
  cursor: pointer;
}
#delete-user-confirm {
  padding: 10px;
}
#delete-user-confirm button {
  margin-left: 10px;
}

#activity_headline {
  width: 16%;
  float: left;
}
#activity_headline li {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
  background-color: rgba(219, 230, 219, 0.65);
}
#activity_headline li:hover {
  cursor: pointer;
  background: #ccc;
}
#activity_headline li.active {
  background: #fff;
}
#activity_headline h2 {
  margin-bottom: 20px;
  background: #686868;
}
#activity_content {
  width: 82%;
  float: right;
  padding-top: 20px;
  height: 500px;
  overflow: auto;
}
#activity_content h2 {
  background: none;
  color: rgba(0, 0, 0, 0.58);
}
#activity_content h2 + p {
  text-align: center;
}
#activity_content #contents div {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}
#activity_content #contents div p {
  color: rgba(0, 0, 0, 0.58);
}
p.summary {
  background-color: #f2f2f2;
  padding: 10px 15px;
  border-top: 1px solid #f2f2f2;
}

#addAdmin-application {
  background-color: #FFFFFF;
  padding: 20px 40px 40px 40px;
  font-size: 16px;
}
#addAdmin-application > h1 {
  text-align: center;
  font-size: 26px;
}
#addAdmin-application fieldset {
  margin-top: 20px;
}
#addAdmin-application .field {
  padding: 5px 0;
}
#addAdmin-application input,
#addAdmin-application textarea {
  background-color: #E6E7E9;
}
#addAdmin-application input[type="checkbox"],
#addAdmin-application input[type="radio"] {
  margin: 0 5px 4px 0;
}
#addAdmin-application input.input-large {
  width: 530px;
}
#addAdmin-application label {
  margin: 0 15px 0 0;
  display: inline;
  font-size: inherit;
}
#addAdmin-application .field .field-name {
  display: inline-block;
  width: 80px;
  text-align: right;
}
#addAdmin-application input {
  margin: 0;
}
#addAdmin-nickname {
  float: right;
  margin-top: -230px;
}
#addAdmin-job {
  float: right;
  margin-top: -190px;
}
#addAdmin-phone {
  float: right;
  margin-top: -150px;
}
#addAdmin-QQ {
  float: right;
  margin-top: -110px;
}
#addAdmin-weibo {
  float: right;
  margin-top: -70px;
}
#addAdmin-about {
  float: right;
  margin-top: -30px;
}

#apply-aiding #apply-process {
  height: 120px;
  background-image: url("../images/aiding_apply_process.png");
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  padding: 0 7px;
}
#apply-aiding #apply-process span {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: top;
  position: relative;
  top: 100px;
}
#apply-aiding #apply-process span:first-child {
  right: 18px;
  width: 18%;
}
#apply-aiding #apply-process span:first-child + span {
  right: 0;
}
#apply-aiding #apply-process span:first-child + span + span {
  right: -87px;
}
#apply-aiding #apply-process span:first-child + span + span + span {
  right: -194px;
}
#apply-aiding #apply-process span:first-child + span + span + span + span {
  left: 339px;
}
#apply-aiding #apply-intro {
  background-color: #FFFFFF;
  font-size: 13pt;
  padding: 20px 40px 0 40px;
}
#apply-aiding #apply-intro h2 {
  color: #354018;
  background: none;
  margin: 0 0 10px 0;
}
#apply-aiding #apply-intro h2 + div {
  border-top: 0.25px solid #e2e4e3;
  padding: 20px 0;
}
#apply-aiding #apply-intro > div p {
  margin: 25px 0;
  font-size: 15px;
  color: #564848;
}
#apply-aiding #entries {
  text-align: center;
  margin-top: 40px;
}
#apply-aiding #entries .btn {
  margin: 0 120px;
}

#album_pitures_list {
  width: 100%;
}
#album_pitures_list .each_picture {
  width: 170px;
  height: 145px;
  margin: 13px 12px 0 12px;
  padding: 8px;
  float: left;
  background-color: rgba(208, 225, 41, 0.64);
  border-radius: 5px;
}
#album_pitures_list .each_picture p {
  line-height: 25px;
  text-align: center;
}
#album_pitures_list h2 {
  background-color: #7d9b2a;
}
#show_picture {
  width: 600px;
  padding: 15px;
}
#show_picture .img {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}
#show_picture h3 {
  line-height: 32px;
  font-size: 20px;
}
#show_picture p {
  line-height: 15px;
  text-indent: 30px;
}
#show_picture a {
  cursor: pointer;
}
#show_picture h3 {
  display: inline-block;
  padding: 0 20px;
}
.modal-header-header .carousel-control {
  top: 50%;
  line-height: 38px;
  font-size: 30px;
}

#volunteer-application,
#aidingApplication {
  background-color: #FFFFFF;
  padding: 20px 40px 40px 40px;
  font-size: 16px;
}
#volunteer-application > h1,
#aidingApplication > h1 {
  text-align: center;
  font-size: 26px;
}
#volunteer-application fieldset,
#aidingApplication fieldset {
  margin-top: 20px;
}
#volunteer-application #photo-area,
#aidingApplication #photo-area {
  float: right;
  width: 160px;
  height: 200px;
}
#volunteer-application #photo,
#aidingApplication #photo {
  position: relative;
  width: 100%;
  height: 160px;
  border: 1px solid #DDDDDD;
  background: url("/images/photo.png") no-repeat 50%;
}
#volunteer-application #photo img,
#aidingApplication #photo img {
  width: 100%;
  height: 100%;
}
#volunteer-application #photo #upload,
#aidingApplication #photo #upload {
  display: none;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  background-color: #3A3A3A;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
#volunteer-application #photo:hover #upload,
#aidingApplication #photo:hover #upload {
  display: block;
}
#volunteer-application .field,
#aidingApplication .field {
  padding: 5px 0;
}
#volunteer-application input,
#aidingApplication input,
#volunteer-application textarea,
#aidingApplication textarea {
  background-color: #E6E7E9;
  resize: none;
}
#volunteer-application input[type="checkbox"],
#aidingApplication input[type="checkbox"],
#volunteer-application input[type="radio"],
#aidingApplication input[type="radio"] {
  margin: 0 5px 4px 0;
}
#volunteer-application input.input-large,
#aidingApplication input.input-large {
  width: 530px;
}
#volunteer-application label,
#aidingApplication label {
  margin: 0 15px 0 0;
  display: inline;
  font-size: inherit;
}
#volunteer-application .field .field-name,
#aidingApplication .field .field-name {
  display: inline-block;
  width: 80px;
  text-align: right;
}
#volunteer-application input,
#aidingApplication input {
  margin: 0;
}
#volunteer-application #birth-year,
#aidingApplication #birth-year,
#volunteer-application #province,
#aidingApplication #province {
  width: 90px;
  margin-right: 5px;
}
#volunteer-application #birth-month,
#aidingApplication #birth-month {
  width: 55px;
  margin: 0 5px 0 10px;
}
#volunteer-application #city,
#aidingApplication #city {
  width: 88px;
  margin: 0 5px 0 10px;
}
#volunteer-application #birth-year,
#aidingApplication #birth-year,
#volunteer-application #birth-month,
#aidingApplication #birth-month {
  text-align: center;
}
#volunteer-application li,
#aidingApplication li {
  text-align: left;
  line-height: 2;
}
#volunteer-application ol > li,
#aidingApplication ol > li {
  list-style-type: decimal;
}
#volunteer-application #services > div,
#aidingApplication #services > div {
  font-weight: bold;
}
#volunteer-application #services label,
#aidingApplication #services label {
  display: inline-block;
  min-width: 105px;
  margin-right: 10px;
}
#volunteer-application #opinions,
#aidingApplication #opinions {
  min-height: 100px;
  min-width: 85%;
  max-width: 85%;
}
#volunteer-application .operation,
#aidingApplication .operation {
  text-align: center;
  margin-top: 20px;
}
#volunteer-application #note,
#aidingApplication #note {
  padding-left: 40px;
}
#volunteer-application #note span,
#aidingApplication #note span {
  float: left;
  margin-left: -30px;
}
#aidingApplication .field {
  margin: 0 auto;
  width: 600px;
}
#aidingApplication .field span {
  width: 200px !important;
}

#news-editor {
  margin-left: 210px;
}
#news-editor input {
  line-height: 1.5em;
  width: 800px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
#news-btn {
  margin-top: 20px;
  margin-left: 210px;
}
#news-btn button {
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #C4C400;
}
#news-draft {
  margin-right: 474px;
}
#news-cancel {
  margin-right: 30px;
}
#news-logo {
  margin-left: 880px;
}

#account {
  background-color: #f0e99f;
  padding: 10px;
  height: 20px;
  width: 0 auto;
}
#account a {
  padding-left: 20px;
}
#goIndex {
  margin-right: 740px;
}
.headline a:hover {
  color: grey;
}
#backgroundHeader {
  width: 100%;
  height: 178px;
  margin: 0;
  padding: 20px 10px 20px 10px;
  position: relative;
  background: url('/images/logo.png') no-repeat;
}
#backgroundHeader .headline {
  position: absolute;
  top: 50px;
  left: 210px;
}
#backgroundHeader .headline h1 {
  padding-bottom: 20px;
}
#backgroundHeader .headline h2 {
  background: none;
  color: #696B77;
  font-size: 25px;
  position: relative;
  bottom: 85px;
  left: 385px;
}
#backgroundNav {
  height: 100%;
}
#backgroundNav li {
  background-color: #08FC8C;
}
#backgroundNav .down-bottom {
  height: 135px;
}
#background-content,
#backgroundFundsApply,
#backgroundVolunteersApply {
  float: right;
  width: 850px;
  height: auto;
  margin-bottom: 100px;
}
#background-alert-flash {
  text-align: center;
  width: 813px;
  margin-left: 173px;
}
.view_fund_apply {
  display: inline-block;
  padding: 10px;
}

#backgroundFinace {
  height: 1000px;
  overflow: auto;
}
#one {
  width: 90%;
}
.background_h1 {
  line-height: normal;
}
#background_upload_button,
.background_delete_button,
.background_view_button {
  float: right;
}
.itemReport,
.annualReport,
.seasonReport {
  margin-bottom: 10px;
}
.delete_files_button {
  margin-left: 10px;
}

/*background/albums.jade*/
input.save_all,
input.add {
  display: block;
}
#albums_list_show {
  width: 850px;
  min-height: 800px;
  float: right;
}
#albums_list_show .ui-state-default {
  float: left;
  width: 230px;
  height: 200px;
  margin: 10px;
  padding: 10px;
}
#albums_list_show .ui-state-default textarea {
  width: 217px;
  height: 45px;
}
#albums_list_show .ui-state-default img {
  height: 150px;
}
#albums_list_show .ui-state-default a {
  width: 100%;
  height: 90%;
}
#albums_list_show .ui-state-default a:hover {
  color: #010101;
}
#albums_list_show .ui-state-default div {
  position: relative;
  bottom: 216px;
  left: 200px;
}
/*background/album_details*/
input.upload,
input.sort,
input.sort_ok {
  display: inline-block;
}
#album_cover {
  float: right;
  width: 840px;
  height: 240px;
}
#album_cover img {
  width: 200px;
  margin-left: 11px;
  height: 180px;
}
#album_cover h3 {
  margin-left: 12px;
}
#album_cover form {
  float: right;
  width: 600px;
}
#album_pitures_list {
  float: right;
  width: 840px;
}
#album_pitures_list .ui-state-default {
  display: inline-block;
  width: 385px;
  height: 184px;
  margin: 10px;
  padding: 5px;
}
#album_pitures_list .ui-state-default img {
  height: 184px;
  width: 184px;
  cursor: pointer;
}
#album_pitures_list .ui-state-default textarea {
  width: 185px;
  float: right;
  height: 174px;
}
#album_pitures_list .ui-state-default .img_property,
#album_pitures_list .ui-state-default .new_img_load {
  float: left;
  width: 100%;
  display: none;
  position: relative;
  left: 5px;
  bottom: 32px;
}
#album_pitures_list .ui-state-default .img_property.active,
#album_pitures_list .ui-state-default .new_img_load.active {
  display: block;
}
#make_sure {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#make_sure.active {
  display: block;
}
#make_sure form {
  position: relative;
  top: 23%;
  left: 42%;
  width: 220px;
  height: 70px;
  background-color: rgba(107, 231, 135, 0.85);
}
#make_sure form .yes {
  margin: 0 20px;
  float: left;
}
#make_sure form .no {
  margin: 0 20px;
  float: right;
}
input.hiddenAlbumName,
input.hiddenPictureName,
input.hiddenAlbumId,
input.hiddenPictureIntroductions,
input.hiddenPictureNames,
input.hiddenAlbumCoverSrc,
input.hiddenAlbum_Id,
input.hiddenAlbumIds,
input.hiddenAlbumNames {
  display: none;
}
/**
**添加新相册操作/新照片操作
**/
@keyframes myfirst {
  from {
    transform: scale(0.1, 0.1);
  }
  to {
    transform: scale(1, 1);
  }
}
#add_album,
#add_new_photos {
  display: none;
  width: 1000px;
  height: 1000px;
}
#add_album.active,
#add_new_photos.active {
  display: block;
}
#add_album form,
#add_new_photos form {
  position: absolute;
  border: 10px solid green;
  background-color: white;
  left: 40%;
  top: 40%;
}
#add_album form h3,
#add_new_photos form h3 {
  text-align: center;
}
#add_album form input.go,
#add_new_photos form input.go {
  float: left;
  padding: 10px;
  margin-top: 10px;
}
#add_album form input.cancel,
#add_new_photos form input.cancel {
  float: right;
  padding: 10px;
  margin-top: 10px;
}

#background_banners {
  width: 80%;
  float: right;
}
#background_banners img {
  width: 904px;
  height: 280px;
  margin-top: 20px;
}
#background_banners input.delete {
  float: right;
  margin-top: 10px;
  margin-bottom: 40px;
}
#addLink {
  max-height: 500px;
  overflow-y: auto;
}
#addLink label {
  text-align: left;
  margin-left: 30px;
}

.historyRecord,
.newRecord {
  color: #808000;
  margin-left: 10px;
  cursor: pointer;
}
.historyRecord:hover {
  background-color: #bbb;
}
span {
  color: black;
}
p {
  color: black;
}
.wrapper {
  padding: 15px;
  background-color: #CCCC99;
  line-height: 3em;
}
input.donate_year,
input.donate_month,
input.donate_day {
  width: 40px;
  border: 1px solid grey;
  border-radius: 3px;
}
input.type {
  display: none;
}
.donator {
  width: 70px;
  border: 1px solid grey;
  border-radius: 3px;
}
.donate-money {
  width: 70px;
  border: 1px solid grey;
  border-radius: 3px;
}
.material {
  width: 390px;
  border: 1px solid grey;
  border-radius: 3px;
}
.use {
  width: 672px;
  border: 1px solid grey;
  border-radius: 3px;
}
.donations-btn {
  margin-left: 624px;
}
#donations-body {
  margin-left: 200px;
}
#remarks {
  color: grey;
  margin-left: 27px;
  margin-top: -18px;
  font-size: 10px;
}
#donations-body button {
  margin-left: 20px;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #C4C400;
}
#custom-donations-wrapper input {
  margin-left: 30px;
  margin-top: -2px;
}
#customtext {
  resize: none;
  width: 810px;
  height: 100px;
}
#unlimited-mul,
#limited-history,
#limited-mul,
#unlimited-history,
#material-history,
#warning-to-fill-blank,
#operation-success,
#warning-every-fault {
  background-color: #CCCC99;
  padding: 20px;
}
.modal-header-header {
  text-align: center;
}
.modal-header-header p {
  margin-left: -10px;
}
.modal-body-body {
  line-height: 0.8em;
}
.modal-body-body textarea {
  width: 546px;
  height: 170px;
  resize: none;
}
.modal-footer-footer button {
  width: 80px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #C4C400;
}
.modal-footer-footer .right-btn {
  margin-left: 400px;
}
.donation-history {
  background-color: white;
  max-height: 1000px;
  word-spacing: 5px;
}
.donation-history li {
  text-align: left;
}

#dynamic-news {
  margin-left: 200px;
  padding: 10px;
}
#add-news {
  margin-top: -10px;
  margin-bottom: 35px;
  margin-left: 677px;
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #C4C400;
}
#dynamic-news .news-title {
  width: 310px;
  font-size: 20px;
  float: left;
}
#dynamic-news .news-date {
  width: 380px;
  float: left;
}
#dynamic-news a {
  margin-left: 5px;
  color: #808000;
  text-decoration: underline;
}

#add-picture-news {
  margin-top: -10px;
  margin-bottom: 35px;
  margin-left: 677px;
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #C4C400;
}
.picture-news-edit {
  float: right;
}
.picture-news-delete {
  float: right;
}

#news-editor #upload-image {
  width: inherit;
}
#news-editor #picture_news_submit {
  width: inherit;
  float: right;
}

#background_share {
  width: 83%;
  float: right;
}
#background_share input#share_add {
  margin-bottom: 18px;
}
.share_details {
  padding: 10px 10px 37px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
  height: 150px;
}
.share_details .share_contents {
  float: right;
  width: 82%;
}
.share_details .share_contents textarea {
  float: left;
  min-width: 90%;
  max-width: 90%;
  height: 80px;
}
.share_details .share_contents textarea.summary {
  height: 40px;
  margin-bottom: 3px;
  border-bottom: 1px solid	#aaa;
}
.share_details .share_img {
  float: left;
  height: 100%;
  width: 17%;
}
.share_details .share_img img {
  height: 100%;
  width: 80%;
  vertical-align: center;
}
.share_details .share_img input {
  position: relative;
  bottom: -4px;
}
.share_details > input {
  float: right;
  position: relative;
  left: 674px;
}
#add_choose {
  display: none;
}
#add_choose.active {
  display: block;
}
#add_choose input.uploadInfo {
  display: none;
}

.background_volunteer_apply_header {
  text-align: center;
  font-size: 20px;
}
.volunteer_apply_item {
  margin: 10px;
}

#donation-scroller {
  width: 100%;
  font-size: 12pt;
  line-height: 40px;
  height: 40px;
  background-color: #6D6E72;
  overflow: hidden;
}
#donation-scroller .outer {
  height: 100%;
  width: 50000px;
}
#donation-scroller .inner {
  display: inline-block;
  width: auto;
}
#donation-scroller .inner span {
  color: white;
  margin: 0 20px;
  cursor: pointer;
}
#donation-scroller div span:hover {
  text-decoration: underline;
}

#donations #main-content #total {
  text-align: center;
  font-size: 20px;
  height: 20px;
  line-height: 33px;
}
#donations #main-content #container {
  margin: 20px 0;
  padding: 20px 0 12px 40px;
  font-size: 15px;
  background-color: #FFFFFF;
}
#donations #main-content #records {
  margin: 0;
  padding: 0;
  height: 500px;
  list-style: none;
  overflow: auto;
}
#donations #main-content #records li {
  line-height: 2;
  text-align: left;
  display: none;
}
#donations #main-content #records li.active {
  display: block;
}
#donations #main-content #records li.disactive {
  line-height: 10;
}
#donations #loading {
  padding: 100px 0;
}
.finance h3,
#finance-sidebar h3 {
  background-color: #36401A;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}
.finance #main-content {
  margin-left: 200px;
}
.finance #main-content h3 {
  text-align: center;
}
.finance #main-content #no-info {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  display: none;
}
.finance #main-content #no-info.active {
  display: block;
}
#annually-reports.finance #records li,
#monthly-reports.finance #records li,
#projects-expenses.finance #records li {
  display: none;
}

#finance {
  background-color: #ffffff;
  padding: 20px 30px;
}
#finance .container {
  width: 100%;
  text-align: center;
}
#finance .container .item {
  width: 250px;
  height: 290px;
  margin: 20px 50px;
  display: inline-block;
  position: relative;
}
#finance .container .item .title {
  display: block;
  width: 100%;
  height: 250px;
  line-height: 250px;
  font-size: 25px;
  background-size: 100%;
  border-radius: 320px;
}
#finance .container .item .title:hover {
  filter: alpha(opacity=10);
}
#finance .container .item .intro {
  position: absolute;
  width: 100%;
  left: 0;
  top: 260px;
  font-size: 15px;
  line-height: 1.5;
}
#finance p {
  font-size: 15px;
  text-indent: 32px;
  color: #575656;
}

#footer {
  margin: 20px 0;
  text-align: center;
}
#footer div p,
#footer div a {
  color: #65626B;
  margin: 0;
  padding: 0 2pt 0 5pt;
}
#footer div:first-child p:first-child {
  font-size: 20px;
  margin-bottom: 5px;
  color: #65626B;
}
#footer > div {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#footer > div:first-child {
  border-bottom: 1px solid #89939a;
}

#foreshows-view {
  margin-left: 210px;
  font-size: 20px;
  line-height: 1em;
}
#foreshows-view button {
  width: 100px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #C4C400;
}
#add-foreshows {
  margin-left: 715px;
  height: 40px;
}
.foreshow-item a {
  text-decoration: underline;
  color: #808000;
  font-size: 15px;
  margin-left: 5px;
  float: right;
}
.foreshow-item input.hide {
  display: none;
}
.foreshow-end-date-edit {
  margin-left: 50px;
  height: 25px;
}
.foreshow-title {
  font-size: 25px;
}
.foreshow-start-date {
  margin-top: 20px;
  font-size: 17px;
}
.foreshow-end-date {
  font-size: 17px;
}
.foreshow-end-date input {
  width: 50px;
}

#share {
  width: 100%;
  height: 690px;
  background: #fff;
}
.module {
  width: 450px;
  height: 200px;
  border: 1pt solid #aaa;
  border-collapse: collapse;
  display: inline-block;
  float: left;
}
.module > div {
  padding: 20px;
  width: 61%;
  height: 161px;
  float: left;
  overflow: hidden;
}
.module > div p {
  width: 270px;
  line-height: 27px;
  text-indent: 38px;
  font-size: 15px;
  word-wrap: break-word;
}
.module a {
  width: 30%;
  height: 100%;
  display: block;
  float: left;
}
#module-headline {
  width: 392px;
  height: 102px;
  padding: 60px 30px 40px 30px;
  float: left;
  position: relative;
  background-color: #c7cb16;
}
#module-headline span + span + span {
  right: 29px;
  bottom: 67px;
  position: absolute;
}
#shareList {
  height: 700px;
  overflow: auto;
  width: 100%;
  background-color: #ffffff;
}
#shareList li {
  text-align: left;
  padding: 10px 20px;
  border-bottom: 1px dotted #CCCCCC;
}
#shareList li a,
#shareList li p,
#shareList li h4 {
  margin-right: 30px;
  display: inline-block;
}

body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  font-weight: normal;
  width: 1024px;
  margin: 0px auto;
  color: #696b77;
}
div {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: #4E4E4E;
}
a:hover {
  text-decoration: none;
  color: white;
}
a.generalA:hover {
  background-color: #D1DE30;
}
a.generalB:hover {
  color: #307e21;
}
.btn.btn-primary {
  background-color: #d1de2f;
  background-image: none;
}
.btn.btn-primary:hover {
  background-color: #E2EF40;
}
.btn.btn-danger {
  background-color: #FF957E;
  background-image: none;
}
.btn.btn-danger:hover {
  background-color: #FFAC95;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
h2 {
  font-size: 18px;
  margin: 0;
  display: block;
  text-align: center;
  background-color: #3a3a3a;
  color: white;
  font-size: 16pt;
  line-height: 40px;
}
#page-content {
  padding: 40px 60px 70px 60px;
  margin: 0;
  background-color: #eae9ca;
}
.clear {
  clear: both;
}

#account-info {
  height: 30px;
  background-color: #36401a;
  text-align: right;
}
#account-info a {
  font-size: 12pt;
  line-height: 30px;
  margin: 0 10px;
  color: white;
}
#account-info a:hover {
  text-decoration: underline;
  color: red;
}
#header {
  width: 100%;
  height: 178px;
  margin: 0;
  position: relative;
  background-image: url("/images/header.png");
}
#headline {
  position: absolute;
  top: 35px;
  left: 210px;
}
#headline h1,
#headline h4 {
  line-height: 24px;
}
#headline h1:first-child + h4 {
  color: #ffffff;
}
#cover {
  position: absolute;
  left: -150px;
  top: -15px;
  width: 150px;
  height: 150px;
}

#myCarousel {
  width: 100%;
  height: 280px;
}
#myCarousel .item img {
  max-height: 280px;
  width: 100%;
}
.home-right {
  float: right;
  width: 225px;
  height: 650px;
}
.home-right > div > ul li {
  width: 224px;
  height: 40px;
  font-size: 16px;
  border-top: 1px dotted #CCCCCC;
  background-color: #ffffff;
}
.home-right h2 {
  width: 100%;
}
.home-right > div:first-child > ul a {
  display: block;
  height: 40px;
  line-height: 40px;
}
.home-right > div:first-child > ul a:hover {
  border-left: 20px solid #D1DE30;
  border-right: 20px solid #D1DE30;
  color: #D1DE30;
}
.home-right > div#volunteer {
  text-align: center;
  padding: 20px;
  margin: 63px 0px;
  background-color: #D1DE30;
  font-size: 18px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.home-right > div#volunteer + div > div {
  height: 140px;
  background-color: #ffffff;
  padding: 60px 10px;
  border: 1px dotted #CCCCCC;
}
.modal.hide.fade .modal-footer .btn {
  margin: 0 19%;
}
.modal.hide.fade .modal-header {
  padding: 12px 18px 30px;
}

#volunteer-apply-process {
  height: 175px;
  background-image: url("/images/volunteer_apply_process.png");
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 7px;
  width: 100%;
}
#volunteer-apply-process span {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: top;
  width: 85px;
  position: relative;
  top: 105px;
}
#volunteer-apply-process span:first-child {
  width: 125px;
  right: 27px;
}
#volunteer-apply-process span:first-child + span {
  left: 27px;
}
#volunteer-apply-process span:first-child + span + span {
  left: 135px;
}
#volunteer-apply-process span:first-child + span + span + span {
  left: 207px;
}
#volunteer-apply-process span:first-child + span + span + span + span {
  left: 294px;
}
#volunteer-apply-process span:first-child + span + span + span + span + span {
  left: 377px;
}
#volunteer-intro {
  background-color: #FFFFFF;
  padding: 20px 40px;
}
#volunteer-intro h2 {
  color: #3C3C3C;
  background: none;
  border-bottom: 1px dotted #CCCCCC;
  margin-bottom: 15px;
}
#volunteer-intro p {
  text-indent: 2em;
  font-size: 16px;
  color: #4D4F59;
}
#volunteer-intro p.apply {
  margin-top: 50px;
  text-align: center;
  text-indent: 0;
}
#volunteer-intro p.apply a {
  padding: 2px 15px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
.bdsharebuttonbox {
  border-top: 1px dotted #CCCCCC;
  padding-top: 10px;
}
.bdsharebuttonbox span {
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 32px;
}

#navigator {
  width: 100%;
}
#navigator a {
  display: block;
  color: #d1de30;
  width: 100%;
}
#navigator li:hover > a {
  outline: 0 none;
  color: #ffffff;
}
#navigator li,
#navigator li.invalid:hover {
  width: 145px;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  background: -webkit-gradient(linear, 0 0, 100% 100%, from(#ffffff), to(#e7e7e7));
  /** Chrome Safari **/
  background: -moz-linear-gradient(left, #ffffff, #e7e7e7);
  /** FireFox **/
  background: -o-linear-gradient(left, #ffffff, #e7e7e7);
  /** Opear **/
  background: -ms-linear-gradient(#ffffff 0%, #e7e7e7 100%);
  /** IE9 IE10 **/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E7E7E7', grandientType=1);
  /*IE7*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E7E7E7', grandientType=1);
  /*IE8*/
}
#navigator li.invalid:hover a.invalid {
  color: #D1DE30;
}
#navigator > li {
  border-left: 1px solid #ffffff;
  float: left;
}
#navigator > li:first-child {
  border-left: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}
#navigator > li ul {
  display: none;
  position: absolute;
  z-index: 10;
}
#navigator li:hover ul {
  display: block;
}
#navigator li:hover {
  background: orange;
}
#navigator > li#lastLi,
#navigator > li#lastLi li {
  width: 148px;
}
#alert-flash {
  text-align: center;
}

#pictures {
  height: 280px;
  margin-bottom: 30px;
  position: relative;
  background-color: #FFF;
}
#pictures .current {
  float: left;
  width: 300px;
  height: 250px;
  margin: 15px 0 15px 15px;
  border-right: 0.25pt solid #EAEACA;
}
#pictures .title {
  display: block;
  font-size: 18px;
  background-color: none;
}
#pictures #notes {
  padding: 10px 0 0 0;
  height: 280px;
  width: 573px;
  float: right;
}
#pictures #notes > div:first-child {
  padding: 5px 15px 15px 15px;
  height: 160px;
}
#pictures .picture-list {
  background-color: #F2F2F2;
  height: 90px;
  width: 573px;
  position: relative;
  bottom: 0px;
  overflow: hidden;
  padding: 0px;
}
#pictures .picture-list p {
  position: absolute;
  cursor: pointer;
  margin: 31px 20px;
  padding: 3px 9px;
  border-radius: 3px;
  border: 1px solid #aaa;
  background: #aaa;
}
#pictures .picture-list p.right {
  right: 0;
}
#pictures .picture-list .picture-list-outer {
  position: absolute;
  left: 60px;
  height: 85px;
  width: 75%;
  overflow: hidden;
  margin: 0 10px;
}
#pictures .picture-list .picture-list-inner {
  height: 100%;
  font-size: 0;
  text-align: left;
}
#pictures .picture-list img {
  height: 100%;
  width: 103px;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}
#pictures .picture-list img:first-child {
  margin-left: 0;
}
#album-list {
  float: right;
  height: 870px;
  width: 220px;
  background-color: #ffffff;
}
#album-list > div {
  height: 830px;
  overflow: auto;
}
#album-list .album {
  position: relative;
  width: 90%;
  margin: 0 10px 15px 10px;
  height: 151px;
  cursor: pointer;
}
#album-list .album:hover .name {
  display: block;
}
#album-list .album .name {
  line-height: 35px;
  font-size: 20px;
  width: 198px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  background-color: rgba(210, 210, 210, 0.88);
  color: #fff;
  display: none;
}
#album-list .date {
  font-size: 16px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -20px;
}
#newPosts {
  float: left;
  width: 660px;
  height: 870px;
  border: 1px dotted #CCCCCC;
  background-color: #ffffff;
  position: relative;
}
#newPosts .post {
  margin: 0 20px;
  padding: 20px 0;
  width: 620px;
  height: 160px;
  border-top: 1pt dotted #CCCCCC;
  position: relative;
}
#newPosts .post .cover {
  width: 150px;
  height: 150px;
  float: left;
}
#newPosts .post .cover img {
  width: 100%;
  height: 100%;
}
#newPosts .post .right {
  float: right;
  width: 450px;
  height: 160px;
  overflow: hidden;
}
#newPosts .post .title {
  font-size: 18px;
  color: #2b2d38;
}
#newPosts .post .digest {
  font-size: 14px;
  color: #696b77;
  line-height: 22px;
}
#newPosts .post .footer {
  position: absolute;
  bottom: 1px;
  right: 5px;
}
#newPosts .post:first-child {
  border-top: 0;
}
#newPosts .addmore {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
#newPosts #movePage {
  text-align: center;
  width: 100%;
}
#newPosts #movePage input {
  width: 15px;
}
#newPosts #movePage a.generalA {
  cursor: pointer;
  margin: 0 10px;
}
.bdsharebuttonbox {
  border-top: 1px dotted #CCCCCC;
  padding-top: 10px;
}
.bdsharebuttonbox span {
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 32px;
}

#posts {
  float: left;
  width: 660px;
  height: 690px;
  border: 1px dotted #CCCCCC;
  background-color: #ffffff;
  position: relative;
}
#posts .post {
  margin: 0 20px 10px 20px;
  padding: 20px 0 10px 0;
  width: 620px;
  height: 160px;
  border-top: 1pt dotted #CCCCCC;
  position: relative;
}
#posts .post:first-child {
  border-top: 0;
}
#posts .post .cover {
  width: 150px;
  height: 150px;
  float: left;
}
#posts .post .right {
  float: right;
  width: 450px;
  height: 160px;
  overflow: hidden;
}
#posts .post .title {
  font-size: 18px;
  color: #2b2d38;
}
#posts .post .digest {
  font-size: 14px;
  color: #696b77;
  line-height: 22px;
}
#posts .post .footer {
  position: absolute;
  bottom: -5px;
  right: 5px;
}
#posts .addmore {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
#posts #movePage {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
#postContents,
#postPage {
  background: #fff;
  padding: 30px;
  height: 800px;
  overflow: auto;
}
#postContents h2,
#postPage h2 {
  background: none;
  color: #3A3A3A;
}
#postContents h2 + p,
#postPage h2 + p {
  text-align: center;
}
#postContents .post-info,
#postPage .post-info {
  text-align: center;
  margin-bottom: 10px;
}
#postContents .digest,
#postPage .digest {
  background-color: #f2f2f2;
  padding: 10px 35px;
  margin: 10px;
  border-bottom: 1px solid #f2f2f2;
}
#postContents p.post-content,
#postPage p.post-content {
  text-indent: 25px;
  color: rgba(0, 0, 0, 0.58);
}

#profile-application {
  background-color: #FFFFFF;
  padding: 20px 40px 40px 40px;
  font-size: 16px;
}
#profile-application > h1 {
  text-align: center;
  font-size: 26px;
}
#profile-application fieldset {
  margin-top: 20px;
}
#profile-application .field {
  padding: 5px 0;
}
#profile-application input,
#profile-application textarea {
  background-color: #E6E7E9;
}
#profile-application input[type="checkbox"],
#profile-application input[type="radio"] {
  margin: 0 5px 4px 0;
}
#profile-application input.input-large {
  width: 530px;
}
#profile-application label {
  margin: 0 15px 0 0;
  display: inline;
  font-size: inherit;
}
#profile-application .field .field-name {
  display: inline-block;
  width: 80px;
  text-align: right;
}
#profile-application input {
  margin: 0;
}
#profile-nickname {
  float: right;
  margin-top: -160px;
}
#profile-job {
  float: right;
  margin-top: -120px;
}
#profile-phone {
  float: right;
  margin-top: -80px;
}
#profile-QQ {
  float: right;
  margin-top: -40px;
}
#profile-weibo {
  float: right;
}
#profile-submit {
  margin-right: 10px;
  margin-bottom: 100px;
  float: right;
}
#profile-goback {
  float: right;
}
#modify-user-confirm {
  padding: 10px;
}
#modify-user-confirm button {
  margin-left: 10px;
}

#projects-expenses #main-content img {
  width: 100%;
}

.finance-sidebar {
  float: left;
  width: 144px;
}
.finance-sidebar h3 {
  margin-top: 0;
}
.finance-sidebar #year select {
  width: 100px;
  margin-left: 20px;
  text-align: center;
}
.finance-sidebar ol {
  list-style: none;
  border: 1px solid #c3c3c3;
  text-align: center;
  margin-left: 0;
  width: 144px;
}
.finance-sidebar ol li {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #EAEAEA;
  border-top: 1px dotted #c3c3c3;
  border-collapse: collapse;
  cursor: pointer;
}
.finance-sidebar ol li.active {
  background-color: #ffffff;
}
.finance-sidebar ol li:first-child {
  border: none;
}

#signin-wrapper {
  font-size: 15px;
}
#username-wrapper {
  width: 500px;
}
#username-wrapper input {
  margin-top: 10px;
  margin-left: 10px;
}
#password-wrapper {
  width: 500px;
}
#password-wrapper input {
  margin-top: 10px;
  margin-left: 25px;
}
#signin-btns {
  margin-left: 56px;
}
.signin-btn {
  width: 100px !important;
  margin-right: 18px;
  border: solid 1px #538312;
  background-color: #64991e;
}
.back-btn {
  width: 100px;
  border: solid 1px #538312;
  margin-left: 175px;
  margin-top: -84px;
}
