extends  ../background_layout

block content

	div#news-logo
		span 点点动态·新闻
		img(src='/images/logo-small.png')

	div#news-editor
		form#news-edit-form(name='newsEditForm' enctype='multipart/form-data' method ="post" action="/background/dynamics/upload_post")
			input#post-title(type='text' name='newsTitle' placeholder = "标题")
			input#post-author(type='text' name= 'newsCreator' placeholder = "作者")
			textarea#post-content(type='text' name='newContent' placeholder="                    动态新闻简单介绍")
			p(style="text-align: center") 选择上传的图片文件（不得大于1M）
			input#upload-image(type='file' name='newCover' value="xx")
			a.btn#news-cancel(href='../dynamics') 取消
			input.btn#picture_news_submit(type='submit' name='submit' value='提交')