extends  ../background_layout

block content
	div#foreshows-view
		a(href='./foreshows-edit')
			button#add-foreshows 添加活动预告

		div.foreshow-item
			hr
			span.foreshow-title 英格兰公投

			span.foreshow-href
				a(href='#') 删除
				a(href='./foreshows-edit') 编辑

			div.foreshow-start-date
				span 发布时间: 
				span.foreshow-start-year 2014 <span>年 </span>
				span.foreshow-start-month 9 <span>月 </span>
				span.foreshow-start-day 22 <span>日</span>

			div.foreshow-end-date
				span 截止时间: 
				span.foreshow-end-year 2014 <span>年 </span>
				span.foreshow-end-month 9 <span>月 </span>
				span.foreshow-end-day 23 <span>日</span>
				button.foreshow-end-date-edit 修改
			hr

		div.foreshow-item
			hr
			span.foreshow-title 王菲谢霆锋复合

			span.foreshow-href
				a(href='#') 删除
				a(href='./foreshows-edit') 编辑

			div.foreshow-start-date
				span 发布时间: 
				span.foreshow-start-year 2014 <span>年 </span>
				span.foreshow-start-month 9 <span>月 </span>
				span.foreshow-start-day 22 <span>日</span>

			div.foreshow-end-date
				span 截止时间: 
				span.foreshow-end-year 2014 <span>年 </span>
				span.foreshow-end-month 9 <span>月 </span>
				span.foreshow-end-day 23 <span>日</span>
				button.foreshow-end-date-edit 修改
			hr

		div.foreshow-item
			hr
			span.foreshow-title 李娜退役

			span.foreshow-href
				a(href='#') 删除
				a(href='./foreshows-edit') 编辑

			div.foreshow-start-date
				span 发布时间: 
				span.foreshow-start-year 2014 <span>年 </span>
				span.foreshow-start-month 9 <span>月 </span>
				span.foreshow-start-day 22 <span>日</span>

			div.foreshow-end-date
				span 截止时间: 
				span.foreshow-end-year 2014 <span>年 </span>
				span.foreshow-end-month 9 <span>月 </span>
				span.foreshow-end-day 23 <span>日</span>
				button.foreshow-end-date-edit 修改
			hr
