extends  ../background_layout

block content
	div#news-logo
		span 图片新闻
		img(src='/images/logo-small.png')
	div#news-editor
		form#news-edit-form(name='newsEditForm' enctype='multipart/form-data' method ="post" action="/background/news/upload_picture_news")
			input#news-title(type='text' name='newsTitle' placeholder = "标题")
			input#news-author(type='text' name= 'newsCreator' placeholder = "作者")
			textarea#news-note(type='text' name='newNote' placeholder="                    图片新闻简单介绍")
			p(style="text-align: center") 选择上传的图片文件（不得大于1M）
			input#upload-image(type='file' name='newsImage' value="xx")
			a.btn#news-cancel(href='../news') 取消
			input.btn#picture_news_submit(type='submit' name='submit' value='提交')