extends  ../background_layout

block content  
  #backgroundPasswords
    form#change-password(name= 'change-password', method= 'POST', action= '/backround/changePassword/submit')
      legend 修改密码
        .field
          label
            span.field-name 输入旧密码
            input#old-password(type= 'text' name= 'old-password')
        .field
          label
            span.field-name 输入新密码
            input#new-password(type= 'text' name= 'new-password')
        .field
           label
             span.field-name 确认新密码
             input#confirm-password(type= 'text' name= 'confirm-pasword')
             p#hint 由6-16个英文或数字组成，区分字母大小写
        .operation
          button#submit.btn.btn-large(type= 'submit') 确认修改
    
      
