extends ../../layout

block content
  #volunteer-apply-process
    span 填写《加入志愿者申请表》
    span 等待面试
    span 面试
    span 通过面试
    span 参加培训
    span 参与活动
  #volunteer-intro
    h2 点点公益志愿者
    p
      | 上高中时，有一次讲排列组合，老师让我们分组做题。老师叫起磊：“你们组多少人？”磊答：“12人。”老师说：“好，那你算一下，12个人排队，你不能站在排头和排尾，有多少种排列法？”磊答错，被罚站。
    p
      | 上高中时，有一次讲排列组合，老师让我们分组做题。老师叫起磊：“你们组多少人？”磊答：“12人。”老师说：“好，那你算一下，12个人排队，你不能站在排头和排尾，有多少种排列法？”磊答错，被罚站。
    p
      | 上高中时，有一次讲排列组合，老师让我们分组做题。老师叫起磊：“你们组多少人？”磊答：“12人。”老师说：“好，那你算一下，12个人排队，你不能站在排头和排尾，有多少种排列法？”磊答错，被罚站。
    p 老师又叫起波：“你们组多少人？”波惧，答：“3个……”
    p.apply
      a.btn.btn-primary(href='/volunteer/apply') 加入点点公益志愿者
    // {{> sharebar}}
    // {{> comments}}