extends ../../layout

block content
  #volunteer-apply-process
    span 填写《加入志愿者申请表》
    span 等待面试
    span 面试
    span 通过面试
    span 参加培训
    span 参与活动
  #volunteer-intro
    h2 点点公益志愿者
    p 点点公益的志愿者团队是经过统一筛选、选拔的，有着专业性、积极性与热情度的志愿者团队。
    p 通过申请、面试、培训后，力求使每位志愿者都能在提供服务的过程中体现个人价值，助人自助。
    p.apply
      a.hrefTracer.btn.btn-primary(href='/volunteer/apply') 加入点点公益志愿者
    // {{> sharebar}}
    // {{> comments}}