extends  ../layout

block content
  include aboutNav
  #about-content.tab-content
    #introduction.tab-pane.active
      include introduction
    #project.tab-pane
      include project
    #structure.tab-pane
      include structure
    #contacts.tab-pane
      include contacts
    #djzx.tab-pane
      include djzx
    #bypb.tab-pane
      include bypb
    #dzlhz.tab-pane
      include dzlhz
  .clear
