p
| 邵文静 秘书长 （机构运营执行长）
br
| 手机号码：13570509355
br
| 邮箱地址：diandian_grass@163.com
p
| 姚月柳 副秘书长（项目经理)
br
| 手机号码：13437843303
br
| 邮箱地址：diandian_yellow@163.com
p
| 丁  浪  副秘书长（志愿者中心经理）
br
| 手机号码：15802013088
br
| 邮箱地址：diandian_dinglang@163.com
p
| 官方网站：www.zhddgy.com
br
| 新浪微博：@点点公益青少年发展服务中心
br
| 机构地址：珠海香洲区云山诗意1栋一层（春晖社区居民活动中心)（519000）
