h2.projectH2 点赞青年公益领航者计划
p.projectP 点赞青年公益领航者培养计划（以下简称：领航者计划）是为珠海青年提供成长平台的青年公益项目，项目周期为1年。
p.projectP
	| 该计划通过组织青年参与公益活动与培训，发掘潜在的青年公益资源，提升青年自身素质与促进社会发展的创新能力，增强青年回馈社会的责任意识，培养珠海社会发展公益领军人物。
h3.projectH3 流程
img(alt='流程图', src='../images/about/dzlhz.png')
