p
	| 珠海市香洲区点点公益青少年发展服务中心（简称点点公益）
	br
	| 源于珠海市香洲区圆梦助学服务队，成立于2008年。
	br
	| 经过六年的发展与成熟，2012年11月5日，点点公益正式注册成为合法非盈利组织（NGO）。
p
	| 点点公益专注于青少年助学项目，通过实地探访、考察、评估等环节，为切实需要学费支持的青少年提供助学服务，并结合义教、家教、第二课堂、户外运动等项目，为青少年发展提供全面服务。
p 点点公益的使命：汇聚点点力量，实现圆梦助学！
p 点点公益的宗旨：助学、助己、助人、共筑家园。
