block content
  div#album-list
    h2 点点相册
    div.container
      each album in albums
        div.album
          a(href='/album/' + album._id)
            img(src=album.cover)
            h3=name
            h3=createdAt
